<%- include('header')-%>

<div class="text-center center-div" id="login">
  <div class="popup_container">
    <div class="title">
      <h2>Login Denied  </h2>
    </div>
      <p class="popup_text"> Invalid email or password</p>
      <a href="/users/login">
        <button class="popup_btn">Try Again</button>
    </a>
    </div>
   
    </form>
  
</div>
<%- include('footer')-%>