<%- include('header')-%>

<div class="text-center center-div" id="login">
  <div class="popup_container">
    <div class="title">
      <h2>Error </h2>
    </div>
      <p class="popup_text"> Book doesn't exist</p>
      <a href="/books/all-books">
        <button class="popup_btn">Try Again</button>
    </a>
    </div>
   
    </form>
  
</div>
<%- include('footer')-%>